<%layout('layouts/homelayout') -%>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>
<link rel="stylesheet" href="/styles/show.css" />

<div class="contain">
  <div>
    <img class="course-image" src="<%= coursed.image %>" alt="Course Image" />
  </div>
  <div class="details">
    <div class="heading"><%= coursed.title %></div>
    <div class="headline"><%= coursed.headline %></div>
    <div class="rating">
      <span style="font-size: 1.1rem"><%= coursed.rating %></span>
      <div class="stars-outer">
        <div
          style="width: calc(20% * <%= coursed.rating %>)"
          class="stars-inner"
        ></div>
      </div>
    </div>

    <div class="showrapper">
      <div class="instructor">
        Created By <span class="bul"> <%= coursed.instructor %></span>
      </div>
      <div class="category">
        Category:

        <a href="/courses/?category=<%=category%>"><%= coursed.category %> </a>
      </div>
    </div>

    <div class="author">
      Posted by: <a class="bul" href="#"><%= coursed.creator.username %></a>
    </div>
    <div class="price">
      <span>Price: <%= coursed.price %>,</span>
      <span><%= coursed.expiry %> </span>
    </div>
    <div class="coupon">
      <a class="btn btn-primary" target="_blank" href="<%= coursed.coupon %> ">
        Get Coupon</a
      >
      <% if(currentuser && coursed.creator.equals(currentuser._id)){ %>
      <form
        class="d-inline ms-3"
        action="/courses/<%= coursed._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>

  <div class="leave-comment">
    <div class="user-comment-heading">Leave a Comment</div>
    <form action="/courses/<%=coursed._id%>/reviews" method="POST">
      <textarea
        class="form-control"
        name="review[comment]"
        id="comment"
        cols="30"
        rows="3"
        placeholder="Add your comment"
        required
      ></textarea>
      <% if(currentuser) {%>
      <button class="btn btn-primary">Post</button>
      <% }else{ %>
      <div class="message">
        <a href="/login">Sign in to leave a comment</a>
      </div>
      <% } %>
    </form>
  </div>

  <div class="user-comments">
    <div class="user-comment-heading">Users Comment</div>

    <% if(coursed.reviews.length===0){ %>
    <p class="comment-warpper user-comment">No reviews yet</p>
    <% } else { for(let comment of coursed.reviews){ %>
    <div class="comment-box-content">
      <div class="comment-showrapper">
        <div class="comment-username"><%= comment.creator.username %>:-</div>
        <div class="user-comment"><%= comment.comment %></div>
      </div>
      <div class="comment-showrapper">
        <% if(currentuser && comment.creator.equals(currentuser._id)){ %>
        <form
          action="/courses/<%=coursed._id%>/reviews/<%=comment._id%>?_method=DELETE"
          method="POST"
        >
          <button class="comment-remove-button">Remove</button>
        </form>

        <% } %> <% if(currentuser){ %>
        <button class="comment-remove-button">Upvote</button>
        <% } %>
      </div>
    </div>

    <% }} %>
  </div>
</div>
